@use '../custom' as *;

.header{
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include media-breakpoint-up(md){
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    .logo{
        width: 10rem;
    }

}