// Reescribir variables de Bootstrap
$rojo: #f34f51;
$verde: #0098ae;
$oscuro: #212121;
$gris: #b5b5b5;


//Asignar paleta de colores a Bootstrap
$primary: $rojo;
$secondary : $verde;
$dark: $oscuro;

//Tipografia
$display-font-weight: 900;
$headings-font-weight: 700;

//Nav Link
$nav-link-padding-x: 0;
$nav-link-color: $gris;
$nav-link-hover-color: darken($gris, 15%);

// Cards
$card-border-color: transparent;

// importar Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';