// @use '../custom' as *;

.eventos{
    
    .card{

        &:hover{
            cursor: pointer;
        }

        img{
            border-radius: .5rem;
        }

        .fecha{
            color: #877457;
        }
    }
}